# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
myvenv/
venv/
.env/

# Environment Variables
.env

# Streamlit
.streamlit/

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Python cache
.pytest_cache/

# FAISS Cache
data/faiss/

# Transcript Cache
data/transcripts/

# Logs
*.log